//@font-face {
//  font-family: "Poppins";
//  src: url("../../assets/fonts/Poppins-Medium.woff2") format("woff2");
//
//}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../assets/fonts/PlayfairDisplay.woff2") format("woff2"),
  url("../../assets/fonts/PlayfairDisplay.ttf") format("truetype");
}
@font-face {
  font-family: 'Blinker-Regular';
  src: url("../../assets/fonts/Blinker-Regular.woff2") format("woff2"),
  url("../../assets/fonts/Blinker-Regular.ttf") format("truetype");
}
